<section style="background-color: #eee;">
    <div class="container-fluid py-3">  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.firstName}} {{user.lastName}}</h5>
              <p class="text-muted mb-1">Role : {{user.authorities[0].authority}} (India)</p>
              <p class="text-muted mb-4">Email : {{user.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-outline-info ms-1">Share</button>
              </div>
              <div class="d-flex icon">
                <ul>
                <li><span class="social-icon social-facebook"><i class="fab fa-facebook-f"></i></span></li>
                <li><span class="social-icon social-google"><i class="fab fa-github"></i></span></li>
                <li><span class="social-icon social-linkedin"><i class="fab fa-linkedin"></i></span></li>
                <li><span class="social-icon social-instagram"><i class="fab fa-medium"></i></span></li>
                <li><span class="social-icon social-twitter"><i class="fab fa-twitter"></i></span></li>
            </ul>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.firstName}} {{user.lastName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(+91) - {{user.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(+91) - {{user.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Current Role</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.authorities[0].authority}} (India) | {{user.enabled ? 
                    "ACTIVE" : "NOT ACTIVE"}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>